<h1>Listing staffing_requests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @staffing_requests.each do |staffing_request| %>
  <tr>
    <td><%= staffing_request.title %></td>
    <td><%= staffing_request.body %></td>
    <td><%= link_to 'Show', staffing_request %></td>
    <td><%= link_to 'Edit', edit_staffing_request_path(staffing_request) %></td>
    <td><%= link_to 'Destroy', staffing_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Staffing request', new_staffing_request_path %>
